# NOTE: At the moment Flask-Misaka==0.3 is incompatible with latest misaka==2.0.0
# @see https://github.com/singingwolfboy/flask-misaka/issues/11
# TODO: Hard to maintain this. Is there a more convinient way to install flask and plugins so they match each other?
Flask==0.11.1
misaka==1.0.2
Flask-Misaka==0.3
Flask-Login==0.3.2
Flask-OAuth
flask-user<0.7
flask-babel
flask-mail
tornado
pymongo
SQLAlchemy
requests
python-jsonrpc
pycrypto
psycopg2-binary