@import "login";

.text-login{
  font-size: 1.4em;
}

#sign-in-link{
  text-align: center;
  font-size: 1.0em;
}

#sign-in-link span, #reset-message{
  color: #757575;
}

.login-content{
  margin-bottom: 0px;
}

.btn-lg{
  font-size: 1.0em;
}

.container {
  min-height: 100%;
  position: relative;
  padding-top: 60px;
  padding-bottom: 65px; /* Height of the footer */
  overflow: hidden;
}

#footer-style{
  bottom: auto;
  background-color: #0277bd;
  height: 65px;/* Height of the footer */
}